@{
    Page.Title = "Resturant";
    //Layout = "Your Layout Page goes here";
    <!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Nevigato a Travel Category Bootstrap responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Nevigato Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet"> 
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" /><!-- //pop-ups-->
<!-- team--><link href="css/ihover.css" rel="stylesheet" type="text/css" media="all" /><!-- //team -->
<link rel="stylesheet" href="css/swipebox.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Merienda:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- //fonts -->
</head>
<body>
<!-- banner -->
	<div class="banner-figures">
			<div class="container banner-drop">
				<div class="header">
					<div class="header-left logo">
						<h1><a href="Default.aspx">Nevigato</a></h1>
					</div>
					<div class="header-right">
						<nav>
						  <ul>
							<li class="active">
								<a href="Default.aspx" class="active"><span>Home</span></a>
							</li>
							<li>
								<a href="Default.aspx#about" class="scroll"><span>About</span></a>
							</li>
							<li>
								<a href="#team" class="scroll"><span>Team</span></a>
							</li>
							<li>
								<a href="#services" class="scroll"><span>Services</span></a>
							</li>
							<li>
								<a href="#gallery" class="scroll"><span>Gallery</span></a>
							</li>
							<li>
								<a href="#contact" class="scroll"><span>Contact</span></a>
							</li>
						  </ul>
						</nav>
						<div class="menu-icon animated wow zoomIn" data-wow-duration="1000ms" data-wow-delay="800ms"><span></span></div>
					</div>
					<div class="clearfix"> </div>
				</div>
				
				
			</div>
		</div>
<!-- //banner -->

<!-- //about -->
	<div class="footer">
		<div class="container">
		<h3><a href="Default.aspx">Nevigato</a></h3>
			<p>© 2017 Nevigato. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
			<div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
					<ul class="top-links">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
		</div>
	</div>
<!-- //footer -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script>
    (function ($) {
        $(".menu-icon").on("click", function () {
            $(this).toggleClass("open");
            $(".container").toggleClass("nav-open");
            $("nav ul li").toggleClass("animate");
        });

    })(jQuery);
			</script>
		<!-- swipe box js -->
	<script src="js/jquery.swipebox.min.js"></script> 
	    <script type="text/javascript">
	        jQuery(function ($) {
	            $(".swipebox").swipebox();
	        });
	</script>
<!-- //swipe box js -->
		
		<!-- jarallax-js -->
			<script src="js/jarallax.js"></script>
			<script src="js/SmoothScroll.min.js"></script>
			<script type="text/javascript">
			    /* init Jarallax */
			    $('.jarallax').jarallax({
			        speed: 0.5,
			        imgWidth: 1366,
			        imgHeight: 768
			    })
			</script>
		<!-- //jarallax-js -->
<!--pop-up-box -->
					<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
					<script>
					    $(document).ready(function () {
					        $('.popup-with-zoom-anim').magnificPopup({
					            type: 'inline',
					            fixedContentPos: false,
					            fixedBgPos: true,
					            overflowY: 'auto',
					            closeBtnInside: true,
					            preloader: false,
					            midClick: true,
					            removalDelay: 300,
					            mainClass: 'my-mfp-zoom-in'
					        });

					    });
					</script>
<!-- //pop-up-box -->

<!-- here stars scrolling icon -->
	<script type="text/javascript">
	    $(document).ready(function () {
	        /*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

	        $().UItoTop({ easingType: 'easeOutQuart' });

	    });
	</script>
<!-- //here ends scrolling icon -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- start-smooth-scrolling -->

</body>
</html>
}


<div>
    
</div>